.config-panel {
    padding: 8px;
}
.config-panel-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.item-label {
    width: 80px;
}

.input-container {
    position: relative;
}

.clear-icon-wrapper:hover .no-active {
    display: none;
}

.clear-icon-wrapper:hover .active {
    display: block;
}

.clear-icon-wrapper .no-active {
    display: block;
}

.clear-icon-wrapper .active {
    display: none;
}

.clear-icon {
    position: absolute;
    top: 4.5px;
    right: 4.5px;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

#dest-url {
    width: 200px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px;
    padding-right: 30px;
}

#copy-btn,
#copy-url {
    outline: none;
    border: none;
    padding: 5px 8px;
    margin-left: 16px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}

#copy-url {
    margin-bottom: 8px;
    margin-left: 0;
    background-color: cornflowerblue;
    color: #fff;
}

#copy-btn:hover {
    background-color: cornflowerblue;
    color: #fff;
}

#copy-btn:disabled {
    background-color: #fff;
    color: gray;
    cursor: not-allowed;
}

.error-tip {
    display: none;
    margin-top: 4px;
    color: tomato;
    text-align: center;
}
